<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="scripts/libraries.js"></script>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-controller="TodoController" ng-app="app">

<!-- Views -->
<div id="mainView" data-role="page" ngm-swipeleft="setPage('aboutView')">
    <div data-role="header">
        <h1>List of Todos</h1>
        <button ngm-vclick="save()"><i class="icon-save" style="font-size: 16px"></i></button>
        <a ngm-vclick="setPage('aboutView')" data-role="button">About</a>
    </div>

    <div data-role="content">
        <div data-role="fieldcontain">
            <form ng-submit="add()" data-ajax="false">
                <div class="ui-controlgroup-controls">
                    <input type="text" ng-model="$parent.inputText" placeholder="enter your todo here">
                    <button type="submit" data-icon="add">Add</button>
                </div>
            </form>
        </div>
        <div data-role="controlgroup">
            <fieldset ng-repeat="todo in todos | paged:'pager':5">
                <div todo=""></div>
            </fieldset>
            <div ngm-if="pager.hasMore">
                <a href="#" ngm-vclick="pager.loadMore()" data-role="button">Load more</a>
            </div>
        </div>
    </div>
</div>
<div id="aboutView" data-role="page" ngm-swiperight="back()">
    <div data-role="header">
        <h1>About</h1>
        <button ngm-vclick="setPage('mainView')" data-rel="back">Back</button>
    </div>

    <div data-role="content">
        Hope this was helpful.
    </div>
</div>

<script src="scripts/main.js"></script>



</body>
</html>